# Generated manually for ggNetView.shiny
export(launch_ggNetView)
export(ggNetViewApp)
import(shiny)
import(shinydashboard)
importFrom(ggNetView, build_graph_from_mat)
importFrom(ggNetView, build_graph_from_adj_mat)
importFrom(ggNetView, build_graph_from_df)
importFrom(ggNetView, ggNetView)
importFrom(ggNetView, get_network_topology)
importFrom(ggNetView, ggnetview_zipi)
importFrom(ggNetView, gglink_heatmaps)
importFrom(ggNetView, get_subgraph)
importFrom(ggNetView, export_ggnetview)
importFrom(ggNetView, theme_ggnetview)
importFrom(ggNetView, get_graph_nodes)
importFrom(ggNetView, get_info_from_graph)
importFrom(utils, read.csv)
importFrom(utils, read.delim)
importFrom(tools, file_ext)
